@page
@model TGL.WebApp.Pages.Computers.AddModel
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<form method="post">
    <input hidden asp-for="Computer.Id" />
    <input hidden asp-for="Computer.StudentId" />
    Brand
    <input asp-for="Computer.Brand" />
    Model
    <input asp-for="Computer.Model" />
    Cpu
    <input asp-for="Computer.Cpu" />
    Ram
    <input asp-for="Computer.Ram" />

    <button class="waves-effect waves-light btn-small" type="submit">
        Save
    </button>
</form>